<div class="grid-container">
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="group-pic-card">
            <h3 id="group-name">{{name}}</h3>
            <hr>
            <a class="mx-auto" alt="kids" href="/">
                <img src="/images/kid-pod.png" class="rounded-circle"
                    style="height: 200px; border: 7px double darkcyan;">
            </a>
            <br>
            <br>
            <br>
            <form action="upload.php" method="post">
                <input type="file" name="file" id="file" />
            </form>
        </div>
    </div>
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="member-card">
            <h3 id="group-members">Group Members</h3>
            <hr>
            <div id="members">
                <ul>
                    {{#each users as |user|}}
                    <li>{{user.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="pod-options-card">
            <h3>Pod Options</h3>
            <hr>
            <br>
            {{#if groupMatches}}
            <ul>
                <ul>
                    <button id="invite-users">Invite Members</button>
                </ul>
                <br>
                <br>
                <ul>
                    <button id="leave-group">Leave Group</button>
                </ul>
                <br>
                <br>
                <ul>
                    <button data-id='{{id}}' id="delete-group">Delete Group</button>
                    <script src="/js/editGroup.js"></script>
                    {{else}}
                    <button id='join-group'>Join Group</button>
                </ul>
            </ul>
            <script src="/js/joinGroup.js"></script>
            {{/if}}
        </div>
    </div>
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="rule-card">
            <h3 id="list-rules">List of Rules</h3>
            <hr>
            <div id="group-rules" cols="40" rows="20" style="width: 100%; height: 100%;">
                <ul class="listed-rules">
                    {{#each rules as |rule|}}
                    <li> {{rule.name}}: {{rule.description}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>