​<div class="flex-column justify-space-around"></div>
<div class="container"></div>
<div class="row" href="main">
    <div class="dash-card">
        <h1 id="my-dashboard">My Dashboard</h1>
        <hr>
        <br>
        <br>
        <form action="upload.php" method="post">
            <input type="file" name="file" id="file" />
        </form>
    </div>
    <aside class="col-md-6 user-info">
        <div class="info-card">
            <h4 id="my-info">Personal Information</h4>
            <ul>
                <ul id="first-name">Name: {{name}}</ul>
                <ul id="email">Email: {{email}}</ul>
                <button id="update-password">Update Password</button>
            </ul>
        </div>
        ​<div class="flex-column justify-space-around"></div>
        <div class="row">
            <div class="col-md-6 user-group">
                <div class="group-card">
                    <h4 id="my-info">Pod Options</h4>
                    <hr>
                    <ul>
                        {{#if group_id}}
                        <li><a href='/group/{{group.id}}'>{{group.name}}</a></li>
                        {{else}}
                        <li><a class='btn' id='create-group' href='/newGroup' role='button'>Create a New Germ Pod</a></li>
                        {{/if}}
                        {{!-- <button class='btn' id='create-group' style='position: relative'></button> --}}
                        {{!-- <button id="create-group" href="/newGroup" style="position: relative;">Create a New
                            Germpod</button> --}}
                        {{!-- <button id="join-group" href="#groupDashboard">Go to my Germpod</button> --}}
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</div>