<div class="grid-container">
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="dash-card">
            <h1 class="my-dashboard">My Dashboard</h1>
            <hr>
            <br>
            <a class="mx-auto" alt="kids" href="/">
                <img src="/images/profile-pic.png" class="rounded-circle"
                    style="height: 200px; border: 7px double darkcyan;">
            </a>
            <br>
            <form action="upload.php" method="post">
                <input type="file" name="file" id="file" />
            </form>
        </div>
    </div>
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="info-card">
            <h4 id="my-info">Personal Information</h4>
            <hr>
            <ul>
                <ul id="first-name">Name: {{name}}</ul>
                <ul id="email">Email: {{email}}</ul>
                <ul>
                    <div class="form-group">
                        {{!-- <label for="password-update">update password:</label>
                        <input class="form-input" type="text" id="password-update" />

                        <button id="update-password-btn" data-id="{{id}}">Update Password</button> --}}
                    </div>
                </ul>
            </ul>

        </div>
    </div>
    {{!-- <div class="card" style="background-color: transparent; border-style: none;">

    </div> --}}
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class="group-card" id='pod-option-area'>
            <h4 id="my-info">Pod Options</h4>
            <hr>
            <br>
            <ul>
                {{#if group_id}}
                <a href='/group/{{group_id}}'>{{group.name}}</a>
                {{else}}

                <a class='btn' id='create-group' href='/newGroup' role='button'>Create a New Germ Pod</a>

                <button id="join-group">Search for a Germ Pod to Join</button>

                {{/if}}

            </ul>
        </div>
    </div>
    {{#if group_id}}
    <div class="card" style="background-color: transparent; border-style: none;">
        <div class='event-list'>
            <div>
                <form class="form report-event-form">
                    <div class='form-group'>
                        <h6>Event Report</h6>
                        <hr>
                        <label for='user-events'>Report a COVID Event to your Pod:</label>
                        <select name='user-events' id='events'>
                            {{#each events as |event| }}

                            <option value={{event.id}}>{{event.name}}:{{event.description}}</option>

                            {{/each}}
                        </select>
                    </div>
                    <button type='submit' class='btn btn-secondary'>Submit</button>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
</div>
{{#if group_id}}
<script src="/js/event.js"></script>
{{else}}
<script src="/js/profileSearch.js"></script>
{{/if}}
